body {
    margin: 5% 10%;
}

#title {
    text-align: center;
}

.custom-form-class {
    padding: 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    max-width: 550px;
    margin: auto;
}