
body {
    margin: 5% 10%;
    background-color: #121212;
    color: #fff;
    font-family: 'Montserrat','Open Sans', sans-serif;
}

.title {
    text-align: center;
}

.custom-form-class {
    padding: 1rem;
    border: 2px solid #fff;
    border-radius: 0.5rem;
    max-width: 550px;
    margin: auto;
    background-color: #1e1e1e;
}


/* Results page only */
.container {
    max-width: 900px;
}

.recalculate {
    padding-bottom: 1rem;
    background-color: #121212;
}

#stats-header {
    text-align: center;
}

.recalc-btn {
    
}

.card {
    border: 2px solid #fff; 
    background-color: #1e1e1e;
}

.card-title {
    border-bottom: 1px solid #fff;
    padding-left: 0;
    padding-bottom: 0.5rem;
    margin-left: 15px;
}

.description-text-box {
    border-left: 1px dashed #fff;
}

.description-text {
    font-size: 0.7rem;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-grow-1 {
    flex-grow: 1;
    flex-basis: min-content;
    min-width: 75px;
    font-size: 0.9rem;
    padding: 8px;
}

.height-input {
    flex-wrap: nowrap;
}

.age-left {
    padding-left: 0;
}

.age-input {
    width: 60px;
    height: 22px;
}

.weight {
    flex-wrap: nowrap;
    height: 22px;
}

#weight-input {
    height: 22px;
    width: 60px;
}